@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.admin-page {
  font-family: "Roboto", sans-serif;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-left: 260px;
  width: 120%;
  max-width: 1400px;
  margin: auto; //

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px; // Increased font size
  }

  .search-bar {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .actions-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .search-input {
    max-width: 400px; // Increased max-width
    width: 100%;
  }

  .add-user-button,
  .export-button {
    display: inline-block;
  }

  .user-table {
    margin-bottom: 30px;

    .ant-table-thead > tr > th {
      background-color: #fafafa;
      font-weight: 700;
      font-size: 16px; // Increased font size
    }

    .ant-table-tbody > tr > td {
      vertical-align: middle;
      font-size: 16px; // Increased font size
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .edit-button,
    .delete-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      color: #fff;
      border-radius: 4px;
    }

    .edit-button {
      background-color: #1890ff;
      border-color: #1890ff;

      &:hover {
        background-color: #40a9ff;
        border-color: #40a9ff;
      }
    }

    .delete-button {
      background-color: #ff4d4f;
      border-color: #ff4d4f;

      &:hover {
        background-color: #ff7875;
        border-color: #ff7875;
      }
    }
  }
  .inactive-user-row {
    background-color: rgba(191, 189, 189, 0.522);
    color: rgb(0, 0, 0); // Ensure text is visible on black background
  }
}
